<script>
    var data = <%= get_milage_array(@timespan, @entries) %>
</script>

<%= javascript_include_tag "graphs/bar" %>
<%= javascript_include_tag "graphs/histogram" %>

<div id="graphs"></div>

<div id="calendar">

    <% make_weekly_journal(@timespan, @entries, @performances).each_pair do |year, months| %>
        <h2><%= year %></h2>
        <% months.each_pair do |month, weeks| %>

            <h2><%= month %></h2>
            <ul>
            <% weeks.each do |week| %>

                <li <%= if week.has_pr then "class='highlighted'" end %>>

                    <h4><%= "%02d" % week.date.day %></h4>
                    <h3><%= week.entry ? week.entry.milage : '--' %></h3>

                    <% week.performances.each do |p| %>
                    <div class="performance">
                        <div class="event">(<%= p.place %>) <%= p.event %></div>
                        <div class="mark <%= if p.pr then "pr" end %>"><%= p.formatted_mark %></div>
                    </div>
                    <% end %>

                    <% if week.entry and week.entry.notes %>
                    <div class="journal">
                        <p><%= week.entry.notes %>
                    </div>
                    <% end %>

                </li>

            <% end %>
            </ul>

        <% end %>
    <% end %>

</div>
