<!DOCTYPE html>
<html>
<head>
    <title>BuzzRuns</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>    
<link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <h1><a href="/">BuzzRuns</a></h1>
            <div id="navbar">

                <% @user = session[:user_id] %>
                <% if @user then @user = User.find(@user) end %>
                <% if !@user.nil? %>

                <!-- ATHLETE-SPECIFIC VIEWS -->

                <div class="nav-section">
                    <a href="/my/dashboard/"><%= @user.login %></a>
                    <ul>
                        <li><a href="/my/dashboard/">Dashboard</a></li>

                        <% if is_athlete(@user) %>
                        <li><a href="/my/journal/">Running Log</a></li>
                        <li><a href="/my/performances/">Performances</a></li>
                        <% end %>

                        <% if is_admin(@user) %>
                        <li><a href="/admin/milage/">+ Milage</a></li>
                        <li><a href="/admin/performances/">+ Performances</a></li>
                        <li><a href="/admin/athletes/">+ Athletes</a></li>
                        <% end %>

                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>

                <!-- AUTHENTICATION -->

                <% else %>
                <div class="nav-section">
                    <a href="/login">Login</a>
                </div>
                <% end %>

                <!-- GLOBAL VIEWS -->

                <div class="nav-section">
                    <a href="/athletes/">Athletes</a>
                </div>

                <div class="nav-section">
                    <a href="/meets/">Meets</a>
                </div>

                <div class="nav-section">
                    <a href="/performances/">Records</a>
                </div>

                <div class="nav-section">
                    <a href="/blog/">Blog</a>
                </div>

            </div>
        </div>
        <div id="content">
            <%= yield %>
        </div>
    </div>
</body>
</html>

